.background-color {
  background-clip: content-box;
  background-color: dimgray;
}

img {
  max-width: 15%;
  height: auto;
}

.social {
  display: inline;
  text-align: right;
}

a.social-link {
  margin-right: 1rem;
}
