<div class="container background-color">
  <div class="row">
    <img class="logo" src="assets/img/logo.jpg" alt="logo"/>
    <div class="col">
      <div class="app-title">ВЕТ ГИС</div>
      <div class="app-description">Единый портал ветеринарных услуг</div>
      <div class="row">
        <div class="social align-items-end">
          <a href="#">
            <img src="assets/img/instagram.svg" alt="instagram"/>
          </a>
          <a class="text link-header" href="#">
            <span>ENG</span>
          </a>
        </div>
      </div>
      <div class="row">
        <nav class="social align-items-end">
          <a href="#" class="link-header">Услуги</a>
          <a href="#" class="link-header">О&nbsp;нас</a>
          <a href="#" class="link-header">Отзывы</a>
          <a href="#" class="link-header">Контакты</a>
        </nav>
      </div>
    </div>
  </div>
</div>
