.background-color {
  background-clip: content-box;
  background-image: linear-gradient(90deg, gray, rgba(105, 105, 105, 0.4));
}

img.logo {
  max-width: 140px;
  max-height: 140px;
  width: auto;
  height: auto;
  float: left;
}

.app-title {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.app-description {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.social {
  margin-top: 0.25vh;
  display: inline;
  text-align: right;
}

.link-header {
  padding: 0.2rem 0.75rem;
  text-decoration: none;
  color: rgba(134, 58, 58, 0.9);

  &:hover {
    color: whitesmoke;
  }
}
