.background-color {
  background-clip: content-box;
  background-image: linear-gradient(90deg, dimgray, gray);
}

img {
  max-width: 14%;
  height: auto;
}

.social {
  margin-top: 1vh;
  display: inline;
  text-align: right;
}

.link-header {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #863a3a;

  &:hover {
    color: whitesmoke;
  }
}
