<div class="container background-color">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img class="bi me-2" src="assets/img/logo.jpg" alt="logo"/>
    </div>

    <div>
      <div class="row">
        <div class="social">
          <a class="social-link" href="#">
            <img src="assets/img/instagram.svg" alt="instagram"/>
          </a>
          <a class="social-link" href="#">
            <span>ENG</span>
          </a>
        </div>
      </div>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Услуги</a></li>
        <li class="nav-item"><a href="#" class="nav-link">О нас</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Отзывы</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Контакты</a></li>
      </ul>
    </div>
  </header>
</div>
