<div class="container background-color">
  <div class="row d-flex">
    <img class="me-2" src="assets/img/logo.jpg" alt="logo"/>
    <div class="col">
      <div class="row">
        <div class="social align-items-end">
          <a href="#">
            <img src="assets/img/instagram.svg" alt="instagram"/>
          </a>
          <a class="link-header" href="#">
            <span>ENG</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="social align-items-end">
          <a href="#" class="link-header">Услуги</a>
          <a href="#" class="link-header">О нас</a>
          <a href="#" class="link-header">Отзывы</a>
          <a href="#" class="link-header">Контакты</a>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div>
    <div class="row">
      <div class="social">
        <a href="#">
          <img src="assets/img/instagram.svg" alt="instagram"/>
        </a>
        <a class="link-header" href="#">
          <span>ENG</span>
        </a>
      </div>
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="link-header">Услуги</a></li>
      <li class="nav-item"><a href="#" class="link-header">О нас</a></li>
      <li class="nav-item"><a href="#" class="link-header">Отзывы</a></li>
      <li class="nav-item"><a href="#" class="link-header">Контакты</a></li>
    </ul>
  </div>
  -->
</div>
