<div class="container background-color">
  <section class="d-flex flex-row flex-wrap justify-content-around align-content-center padding-top-mid padding-bottom-mid">
    <div>
      <div class="padding-bottom-mid">
        <a class="circle text-decoration-none link-to-service" routerLink="/donors">
          <span class="text-main-params">Донорство</span>
        </a>
      </div>

      <div class="padding-bottom-mid">
        <a class="circle text-decoration-none link-to-service" routerLink="/in-progress">
          <span class="text-main-params">Клиники</span>
        </a>
      </div>
    </div>

    <div>
      <div class="padding-bottom-mid">
        <a class="circle text-decoration-none link-to-service" routerLink="/in-progress">
          <span class="text-main-params">Приюты</span>
        </a>
      </div>

      <div>
        <a class="circle text-decoration-none link-to-service" routerLink="/in-progress">
          <span class="text-main-params">Аптеки</span>
        </a>
      </div>
    </div>
  </section>
</div>
