<div class="container background-color">

  <section class="row flex-row justify-content-around align-items-center padding-top-big">
      <div class="circle">
        <a class="link-to-service text-main-color text-decoration-none" href="#">Донорство</a>
      </div>
      <div class="circle">
        <a class="link-to-service text-main-color text-decoration-none" href="#">Клиники</a>
      </div>
  </section>
  <section class="row flex-row justify-content-around align-items-center padding-top-big padding-bottom-big">
    <div class="circle">
      <a class="link-to-service text-main-color text-decoration-none" href="#">Приюты</a>
    </div>
    <div class="circle">
      <a class="link-to-service text-main-color text-decoration-none" href="#">Аптеки</a>
    </div>
  </section>

</div>
