.background-blue {
  background-clip: content-box;
  background-color: #2d9fd9;
}
/*
.circle {
  height: 12rem;
  width: 12rem;
  background-color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
}
*/

.circle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 22vw;
  height: 22vw;
  background-color: whitesmoke;
  border-radius: 100%;
}

.padding-top-big {
  padding-top: 8rem;
}

.padding-top-mid {
  padding-top: 4rem;
}

.padding-bottom-mid {
  padding-bottom: 4rem;
}

.padding-bottom-big {
  padding-bottom: 8rem;
}

.text-align-center {
  text-align: center;
}

.vertical-align-middle {
  vertical-align: middle;
}

.link-to-service {
  font-size: 1.5rem;

  :hover {

  }
}
/*---------------------------------------------*/


