.background-color {
  background-clip: content-box;
  background-image: linear-gradient(90deg, rgba(128, 128, 128, 0.9), whitesmoke);
}

.circle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 26vh;
  min-width: 26vh;
  background-color: rgba(213, 209, 209, 1);
  border-radius: 100%;
  border-style: double;
  border-color: dimgray;
  border-width: thick;
}

.padding-top-big {
  padding-top: 8rem;
}

.padding-top-mid {
  padding-top: 4rem;
}

.padding-bottom-mid {
  padding-bottom: 4rem;
}

.padding-bottom-big {
  padding-bottom: 8rem;
}

.text-align-center {
  text-align: center;
}

.vertical-align-middle {
  vertical-align: middle;
}

.link-to-service {
  font-size: 1.5rem;

  &:hover {
    color: whitesmoke;
    transform: scale(1.1);
  }
}

.text-main-params {
  color: rgba(134, 58, 58, 0.9);
  font-weight: bold;
}
