<div class="container background-blue">

  <div class="row flex-row justify-content-around align-items-center padding-top-big">
      <div class="circle">
        <a href="#">Приюты</a>
      </div>
      <div class="circle">
        <a href="#">Клиники</a>
      </div>
  </div>
  <div class="row flex-row justify-content-around align-items-center padding-top-big padding-bottom-big">
    <div class="circle">
      <a href="#">Донорство</a>
    </div>
    <div class="circle">
      <a href="#">Аптеки</a>
    </div>
  </div>

</div>
