<div class="container">
  <form [formGroup]="donorForm" (ngSubmit)="onSubmit()">
    <section class="donor-section">
      <h4>Данные о питомце</h4>
        <label class="mt-2" for="pet_type">Выберите животное</label>
        <select class="form-select mt-1" id="pet_type" formControlName="type" (change)="onPetTypeChange($event)">
          <option hidden disabled value="test"></option>
          <option *ngFor="let petType of petTypes" [ngValue]="petType.key" [value]="petType.key">{{ petType.textValue }}</option>
        </select>

        <div class="alert alert-danger" *ngIf="type?.invalid && (type?.dirty || type?.touched)">
          <div *ngIf="type?.errors?.required">
            Необходимо выбрать животное
          </div>
        </div>

        <ng-container *ngIf="showBloodType">
          <label for="blood_type" class="mt-2">Выберите группу крови</label>
          <select class="form-control mt-1" id="blood_type" formControlName="bloodType">
            <option hidden disabled selected></option>
            <option *ngFor="let bloodType of catBloodTypes" [value]="bloodType.key">{{bloodType.textValue}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="bloodType?.invalid && (bloodType?.dirty || bloodType?.touched)">
            <div *ngIf="bloodType?.errors?.required">
              Необходимо выбрать группу крови
            </div>
          </div>
        </ng-container>

        <ng-container>
          <label for="age" class="mt-2">Укажите возраст питомца (полных лет)</label>
          <input type="number" class="form-control mt-1" id="age" formControlName="age">
        </ng-container>

        <div *ngIf="age?.invalid && (age?.dirty || age?.touched)" class="alert alert-danger">
          <div *ngIf="age?.errors?.required">
            Необходимо указать возраст питомца
          </div>
          <div *ngIf="age?.errors?.min">
            Возраст питомца не может быть отрицательным
          </div>
          <div *ngIf="age?.errors?.max">
            Возраст питомца не может превышать 50 лет
          </div>
        </div>
    </section>

    <section class="donor-section">
      <label class="mt-2" for="city">Укажите населенный пункт</label>
      <select class="form-select mt-1" id="city" formControlName="city">
        <option hidden disabled selected></option>
        <option *ngFor="let city of cities" value="{{ city.key }}">{{ city.textValue }}</option>
      </select>
    </section>
    <button type="submit" [ngClass]="{ 'btn-primary': donorForm.valid, 'btn-secondary': donorForm.invalid }"
            class="btn mt-2" [disabled]="donorForm.invalid">Submit</button>
  </form>
  <hr>
  <hr>
  <h3>Памятка для донора:</h3>
  <div>В процессе разработки</div>
</div>
